@media (max-width: 900px) {
    .nav {
        display: none;
    }

    .nav-actions {
        column-gap: 32px;
    }

    .hero-title {
        /* margin-top: 30px; */
        margin-bottom: 30px;
        font-family: 'Cormorant';
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        color: #1D2F30;
    }

    .hero-description {
        display: none;
    }

    .hero {
        padding: 0;
        height: 404px;
        width: 320px;
        background-image: url('/img/hero/hero-media.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}